<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sabKuch.css">
</head>
<body>
    <!-- <img src="/images/ethereal.gif" alt="ethereal" width="100%"> -->
    <pre><%=content%></pre>
    <div class = album>
        <img src="/images/nanku.jpg" alt="Nanku-SabKuch">
    </div>
</body>
</html>