body {
    background-image: url("/images/ethereal.gif");
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: antiquewhite;
}